body{
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjyqeah71zQXRNfYCD_A2GxGLIoL37KkVSclLxeVwurwE3p1Nb-s1Ql4Z8nuahhkWwxHM:https://www.hdwallpapers.in/download/beach_google_pixelbook_stock-1600x900.jpg&usqp=CAU);
  background-repeat:no-repeat;
  background-size: 100%;
}
div{
  background:red ;
  border-color:blue ;
  border-width:100px;
  border-style:double;
}

p{
  color:yellow;
}

span{
  background:red;
  color:black;
}
